header.header#header-nav
  a.header__anchor(href="/index.html")
    h1.anchor__text El título del test
  nav.header__nav
    ul.nav__list
      li.list__item 1er item de mentiras
      li.list__item 2do item de mentiras
      li.list__item 3er item de mentiras
      
    
